<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dangdang.dao.AddressDAO">
 <resultMap type="Address" id="rm1">
		<id column="pid" property="id"/>
		<result column="paddName" property="addName"/>
		<result column="pdetailed" property="detailed"/>
		<result column="ppostalCode" property="postalCode"/>
		<result column="ptel" property="tel"/>
		<result column="pmobile" property="mobile"/>
		<!-- <association property="User" javaType="User">
		<id column="uid" property="id"/>
		<result column="uusername" property="username"/>
		</association> -->
</resultMap> 

<!-- 根据用户Id查询所有地址信息 -->
	<select id="findAddNameByUserId" resultType="Address" parameterType="String">
	select * from d_address where user_id=#{id}
	</select>
<!-- 添加新地址 -->
	<insert id="insertAddress" parameterType="Address">
		insert into d_address
		values(#{id},#{detailed},#{addName},#{postalCode},#{tel},#{mobile},#{userId})
	</insert>
</mapper>
